:root {
    --font-family: Arial, Helvetica, sans-serif;
    --danger-color: #e60000;
    --success-color: #00b300;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding:0;
}

.container {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 12px;
}

/* Toggle Sliders */
.hidden {
    display: none;
}


/****************************************** Questions Slider ***************************************************************/
.question-slider,
.product-slider {
    width: 36%;
}

.question-container {
    padding: 4px;
    text-align: center;
    margin-bottom: 24px;
}

.question-card {
    height: auto;
    display: grid;
    gap:24px;
}

/* Answers */
.answers {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, max-content);
}

.answers .answer {
    background: white;
    padding: 12px;
    border: 1px solid black;
    border-radius: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers .answer:hover {
    background: black;
    color: white;
}


/* Color Answers */
.colors {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.colors .answer {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
}

.colors .answer .color{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid lightGray;
}

.colors .answer:hover {
    background: none;
}


/* Answer Selected */
.answers .answer.selected {
    background-color: black; 
    color: white;
}

.colors .answer.selected {
    border: 1px solid black;
    position: relative;
    background: none;
}

.colors .answer.selected .check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #262626;
    font-size: 20px;
}


/* Alert */
.my-alert {
    position: absolute;
    width: 36%;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--danger-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: alertEffect 0.5s ;
}

.my-alert.danger {
    background: var(--danger-color)
}

.my-alert.success {
    background: var(--success-color)
}

@keyframes alertEffect {
    0% {
        top: -50px;
    }
    100% {
        top: 12px;
    }
}


/* Steps Buttons */
.slider-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-buttons .button-container{
    text-align:center;
}

.slider-buttons .button-container button {
    background: white;
    padding: 12px 32px;
    border: 1px solid black;
    border-radius: 36px;
}

.slider-buttons .button-container button:hover {
    background: black;
    color: white;
}

.slider-buttons .button-container p{
    font-size: 12px;
    margin-top: 6px;
}


/****************************************** Product Slider ***************************************************************/

  .product-slider {
    position: relative;
    overflow: hidden;
  }
  
  .products-container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .product-item {
    flex: 0 0 auto; 
    width: 100%; 
    text-align: center;
  }
  
  .product-item img {
    width: 75%;
    height: auto;
  }

  .product-item img[data-src] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .product-item img.loaded {
    opacity: 1;
  }

  .prices {
    margin-top: 4px;
    display:grid;
    gap:8px;
  }
  
  .old-price {
    color: gray;
  }
  
  .new-price {
    color: #e44;
    font-weight: bold;
  }

  .product-name {
    padding: 0px 4px;
  }

  .view-button {
    margin-top:18px;
    background-color: black;
    color: white;
    padding: 12px 52px;
    border: none;
    border-radius:36px;

  }
  
  .product-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .product-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .product-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }


  /************************************************ Steps Counter *****************************************************/
.counter {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.counter .step {
    width: 30px;
    height: 4px;
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.counter .step.active {
    background-color: gray;
}


/************************************************ Reset Button *****************************************************/
.reset {
    margin:12px;
    font-size: 12px;
    text-decoration: underline;
    color: var(--danger-color);
    cursor: pointer;
}

/************************************************ Responsive *****************************************************/
@media (max-width: 767px) {
    .question-slider, .product-slider {
        width: 100%; 
    }

    .slider-buttons .button-container button {
        padding: 6px 24px;
        border-radius: 36px;
    }

    .view-button {
        display:none;
    
      }

    .my-alert {
        width: 80%; 
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .question-slider, .product-slider {
        width: 50%;
    }
}

  
